* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

#container {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#bcg-top {
    background-color: green;
    height: 15%;
}

#bcg-bottom {
    background-color: grey;
    height: 85%;
}

#content {
    position: absolute;
    bottom: 3%;
    left: 10%;
    background-color: #ededed;
    height: 94vh;
    width: 80vw;
}

#left-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    float: left;
    height: 100%;
    background-color: white;
}

#right-side {
    display: flex;
    flex-direction: column;
    background-color: #ededed;
    width: 70%;
    float: left;
    height: 100%;
}

#l-myself {
    background-color: #ededed;
    border-right: 1px solid #d2d1d0;
    height: 60px;
}

#l-set-notification {
    height: 90px;
    background-color: #9de1fe;
}

#l-search-chat {
    height: 50px;
    background-color: #e3dbd3;
    border-bottom: 1px solid #d2d1d0;
}

#l-chat-container {
    background-color: white;
}

.l-chat {
    height: 72px;
    border-bottom: 1px solid #d2d1d0;
}

.chat-active {
    background-color: #ededed;
}

#r-myspeaker {
    height: 60px;
}

#r-conversation {
    background-image: url(images/background.png);
    background-repeat: repeat;
    flex-grow: 1;
}

#r-input-bar {
    display: flex;
    justify-content: space-around;
    border: 1px solid #000;
    height: 72px;
    padding: 10px 20px;
    font-size: 40px;
}

#r-input-bar input {
    flex-grow: 1;
    margin: 0 15px;
    border-radius: 50px;
    font-size: 24px;
    padding: 5px;
}

.msg-wrapper {
    display: inline-block;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
}

.msg-mine {
    background-color: lightgreen;
    float: right;
}

.msg-speaker {
    background-color: white;
}